<div class="container-fluid">
    <div class="row  pt-3 pb-3 headc">
      <div class="col-6 heade">
          <img src="./../../assets/dk.png" height="50px">
          Tools 2.0
      </div>
     
    </div>
     
  <div class="row">
    <div class="col-12">
        <div class="row d-flex justify-content-around pt-4">
            <div class="sj col-3 p-2" (click) ="goToSteveJones()">
                <img src="./../../assets/outline_flutter_dash_black_24dp.png"/>
                Steve Jones
            </div>
            <div class="sj col-3 p-2">
                <img src="./../../assets/outline_accessibility_new_black_24dp.png"/>
                Geocomply Appeals
            </div>
            <div class="sj col-3 p-2">
                Promotions
                <img src="./../../assets/outline_receipt_black_24dp.png"/>
            </div>
        </div>
    </div>
  </div>
  
   
  
  </div>
