p {
    font-family: Lato;
  }
  
  .heade {
    font-weight: bold;
    font-size: 2rem;
  
  }
  
  .tableHead {
    outline: 1px solid black;
  }
  
  .tableBody {
  
    border-bottom:  1px solid black;
  }
  
  .headc {
    background-color: #19181a;
    color: white
  
  }
  
  .headc2 {
    background-color: #242424;
    color: white;
    font-weight: bold;
  
  }
  
  .tablebar {
    background-color: #60b510;
    color: white;
    font-weight: bold;
  }
  
  .hover {
    cursor: pointer;
  }
  
  .hover2:hover {
    background-color: gainsboro;
    cursor: pointer;
    color: red;
  }